@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GRID*/
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 130px 200px auto auto 100px;
    grid-template-areas: "navbar navbar navbar navbar navbar"
                         "header header header header header"
                         "main   main   main   main   main"
                         "aside  aside  aside  aside  aside"
                         "footer footer footer footer footer";
}

.containerFCM{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 130px 100px auto 100px;
    grid-template-areas: "navbar1 navbar1 navbar1 navbar1"
                         "header1 header1 header1 header1"
                         "main1   main1   main1   main1"
                         "footer1 footer1 footer1 footer1";
}

.containerContacto{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 130px 100px auto auto 100px;
    grid-template-areas: "navbar2 navbar2 navbar2 navbar2"
                         "header2 header2 header2 header2"
                         "main2   main2   main2   main2"
                         "aside2  aside2  aside2  aside2"
                         "footer2 footer2 footer2 footer2";
}


/*Navegador para todas las páginas menos capacitacion*/
.navbar{
    grid-area: navbar;
    background-color:rgb(0, 102, 51);
    align-items: center;
    text-align: center;
}

.logobar img{
    width: 250px;
    animation-name: aparecer;
    animation-duration: 2s;
}

.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li{
    padding: 3px;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 11.5px;
    color: white;
    font-family:"Ubuntu";
}

/*Navegador Fundacion*/
.navbar1{
    grid-area: navbar1;
    background-color:rgb(171, 1, 50);
    align-items: center;
    text-align: center;
}

.navbar1 ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar1 ul li{
    padding: 3px;
    align-items: center;
}

.navbar1 ul li a{
    text-decoration: none;
    font-size: 11.5px;
    color: white;
    font-family:"Ubuntu";
}

/*Navegador ubicacion*/
.navbar2{
    grid-area: navbar2;
    background-color:rgb(0, 102, 51);
    align-items: center;
    text-align: center;
}

.logobar img{
    width: 250px;
}

.navbar2 ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar2 ul li{
    padding: 3px;
    align-items: center;
}

.navbar2 ul li a{
    text-decoration: none;
    font-size: 11.5px;
    color: white;
    font-family:"Ubuntu";
}

/*header*/
.header{
    grid-area: header;
}

/*header index*/
.imgIndex{
    background-image: url("../img/clinica\ fachada1.jpg");
    height: 200px;
    background-size: cover;
    background-repeat: none;
}

.imgIndex p{
    font-size: 24px;
    text-align: right;
    padding: 130px 10px;
    font-family:"Ubuntu";
}

/*header rehabilitacion*/
.imgGym{
    background-image: url("../img/gym1.jpg");
    height: 200px;
    background-size:cover;
    background-repeat: none;
}

/*header equipo prof*/
.imgEquipo{
    background-image: url("../img/terapia/terapia.jpg");
    height: 250px;
    background-size: cover;
    background-repeat:no-repeat;
}
.imgEquipo h2{
    font-size: 35px;
    font-family:"Ubuntu";
    padding: 20px;
}

/*header capacitacion*/
.header1{
    grid-area: header1;
}
.header1 h2{
    font-size: 35px;
    font-family:"Ubuntu";
    padding: 20px;
    background-color: #d5d2d2;
    text-align: center;
}

/*header contactos*/
.header2{
    grid-area: header2;
}
.header2 h2{
    font-size: 35px;
    font-family:"Ubuntu";
    padding: 20px;
    background-color: #d5d2d2;
    text-align: center;
}

/*Main*/
.main{
    grid-area: main;
}

/*Main index*/
.cajaInicio1{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #d5d2d2;
}

.cajaInicio1 img{
    width: 250px;
}

.cajaInicio1 div h1{
    font-size: 35px;
    padding: 10px;
    font-family:"Ubuntu";
}

.cajaInicio1 div p{
    font-size: 28px;
    font-weight: 300;
    padding: 10px 10px 20px 10px;
    font-family:"Ubuntu";
}

.cajaInicio2{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.cajaInicio2 img{
    width: 250px;
    padding: 10px;
}

.cajaInicio2 div h2{
    font-size: 35px;
    padding: 10px;
    font-family:"Ubuntu";
}

.cajaInicio2 div p{
    font-size: 28px;
    font-weight: 300;
    padding: 10px 10px 20px 10px;
    font-family:"Ubuntu";
}

.frase{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    padding: 20px;
    background-color: #d5d2d2;
    font-family:"Ubuntu";
}

/*main rehabilitacion*/
.mision{
    display: flex;
    flex-direction:row;
    background-color: #d5d2d2
}

.objetivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"Ubuntu";
    font-size: 12px;
    padding: 15px 30px 15px 20px;
}

.objetivo h2{
    padding: 10px;
}

.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"Ubuntu";
    font-size: 12px;
    padding: 15px 25px 15px 5px;
}

.vision h2{
    padding: 10px;
}

.modalidades{
    display: flex;
    flex-direction: column;
    font-family:"Ubuntu";
    padding: 15px;
}

.modalidades h2{
    text-align: center;
    padding: 10px;
}

.tipoTerapia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:"Ubuntu";
    padding: 10px;
}

.btn{ /*para toda la pagina el mismo boton*/
    width: 100px;
    background-color: rgb(0, 102, 51);
    color: white;
    border: 0;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5%;
}

/*main equipo prof*/
.terapistas{
    display: flex;
    justify-content: space-around;
    margin: 80px 40px 20px 40px;
    padding-bottom: 20px;
}
.profesional{
    display: flex;
    align-items:flex-start;
    font-size: 11px;
    font-family:"Ubuntu";
}
.profesional img{
    width: 50px;
}

/*main capacitacion*/
.main1{
    grid-area: main1;
    display: flex;
    flex-direction: column;
}
.cursoPsico img{
    width:  400px;
    padding: 0px 10px 0px 30px;
    margin-left: 10px;
}

.cursoPsico div{
    text-align: center;
    margin-bottom: 20px;
    font-family:"Ubuntu";
}

.cursoMarcha img{
    width:  400px;
    padding: 0px 10px 0px 30px;
    margin-left: 10px;
}

.cursoMarcha div{
    text-align: center;
    margin-bottom: 20px;
    font-family:"Ubuntu";
}

.cursoRCM img{
    width:  400px;
    padding: 0px 10px 0px 30px;
    margin-left: 10px;
}
.cursoRCM div{
    text-align: center;
    margin-bottom: 20px;
    font-family:"Ubuntu";
}
.residenciaFono img{
    width:  400px;
    padding: 0px 10px 0px 30px;
    margin-left: 10px;
}
.residenciaFono div{
    text-align: center;
    margin-bottom: 20px;
    font-family:"Ubuntu";
}
.residenciaKine img{
    width:  400px;
    padding: 0px 10px 0px 30px;
    margin-left: 10px;
}
.residenciaKine div{
    text-align: center;
    margin-bottom: 20px;
    font-family:"Ubuntu";
}

.btnFundi{
    width: 100px;
    background-color: rgb(171, 1, 50);
    color: white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5%;
    font-family:"Ubuntu";
}

/*Main contactos*/
.main2{
    grid-area: main2;
}

.main2 h2{
    font-size: 12px;
    font-family:"Ubuntu";
    margin-left: 23px;
}

.main2 div{
    text-align: center;
    padding: 20px;
}

/*aside*/
.aside{
    grid-area: aside;
}

/*aside index*/
.entrevistas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrevistas h2{
    font-size: 18px;
    padding: 10px 25px 5px 25px;
    font-style: oblique;
    margin-top: 30px;
    border-top: 2px solid black;
    font-family:"Ubuntu";
}

.entrevistas iframe{
    padding: 15px;
}

/*aside rehabilitacion*/
.especialidades h2{
    border-top: none;
    font-family:"Ubuntu";
    text-align: center;
}
.areas{
    font-size: 16px;
    padding: 10px 25px 5px 25px;
    font-style: oblique;
    margin-top: 20px;
    font-family:"Ubuntu";
    text-align: center;
    list-style: none;
}
.areas li{
    padding: 5px;
}

/*aside equipo prof*/
.galeria{
    font-size: 18px;
    text-align: center;
    font-family:"Ubuntu";
}
.fotosGaleria{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.foto{
    width: 100px;
    transition: all 1s;
}
.foto:hover{
    transform: translate(30px,-50px) scale(1.5) ;
}

/*aside contacto*/
.aside2{
    grid-area: aside2;
}
.mediosContacto{
    display: flex;
    flex-direction: column;
}
.mediosContacto div{
    font-size: 12px;
    text-align: center;
    font-family:"Ubuntu";
    padding: 10px;
}
.mediosContacto div img{
    width: 45px;
}

.form{
    text-align: center;
    background-color: #d5d2d2;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    font-family:"Ubuntu";
}
.form h2{
    padding-bottom: 10px;
}
.form div{
    padding: 5px;
}
.cuadroTexto{
    border-radius: 5%;
    font-size: 13.5px;
    padding: 10px;
    margin: 5px;
}

/*footer igual en cada página*/
.footer{
    grid-area: footer;
    background-color:rgb(0, 102, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family:"Ubuntu";
}

.footer div{
    display: flex;
    align-items: center;
}

.footer h5{
    font-size: 8px;
}

.footer div img{
    width: 40px;
    padding: 5px;
}

/*footer FCM*/
.footer1{
    grid-area: footer1;
    background-color: rgb(171, 1, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family:"Ubuntu";
}

.footer1 div{
    display: flex;
    align-items: center;
}

.footer1 h5{
    font-size: 8px;
}

.footer1 div img{
    width: 40px;
    padding: 5px;
}

/*Footer Ubicacion*/
.footer2{
    grid-area: footer2;
    background-color:rgb(0, 102, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family:"Ubuntu";
}

.footer2 div{
    display: flex;
    align-items: center;
}

.footer2 h5{
    font-size: 8px;
}

.footer2 div img{
    width: 40px;
    padding: 5px;
}

/*Adaptaciones a distintos tamaños*/
@media(min-width: 768px){
    .container{
        grid-template-rows: 130px 350px auto auto 100px;
    }    
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .logobar img{
        width: 265px;
    }
    .navbar ul li a{
        padding-right: 10px;
        font-size: 12px;
    }
    .navbar1{
        display: flex;
        justify-content: space-between;
    }
    .navbar1 ul li a{
        padding-right: 10px;
        font-size: 12px;
    }
    .navbar2{
        display: flex;
        justify-content: space-between;
    }
    .navbar2 ul li a{
        padding-right: 10px;
        font-size: 12px;
    }
    .imgIndex{
        background-size: 100%;
        background-repeat: none;
        height: 400px;
    }
    .imgIndex p{
        font-size: 30px;
        text-align: right;
        padding: 250px 10px;
        color: white;
    }

    .imgGym{
        background-size: 100%;
        background-repeat: none;
        height: 400px;
    }
    .imgEquipo{
        background-size: 100%;
        background-repeat: none;
        height: 400px;
    }
    
    .cajaInicio1{
        flex-direction: row;
        background-color: #d5d2d2;
    }
    .cajaInicio1 div h1{
        font-size: 40px;
        padding-top: 10px;
    }
    .cajaInicio1 div p{
        font-size: 22px;
        padding: 0px 35px 20px;
    }
    .cajaInicio2{
        flex-direction:row;
    }
    .cajaInicio2 img{
        order:1;
    }
    .cajaInicio2 div h2{
        font-size: 40px;
        padding-top: 10px;
    }
    .cajaInicio2 div p{
        font-size: 22px;
        padding: 10px 35px 20px 10px;
    }
    .main1{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main1 div img{
        width: 350px;
    }
    .frase{
        padding: 10px 45px;
        margin: 15px 0px;
    }
    .entrevistas h2{
        font-size: 30px;
    }
    .terapistas{
        margin: 80px 20px 20px 20px;
    }
    .profesional{
        font-size: 15px;
    }
    .main2 h2{
        font-size: 18px;
        margin-left: 23px;
    }
    .main2 div iframe{
        width: 100%;
        height: 350px
    }
    .aside2{
        display: flex;
    }
    .mediosContacto{
        padding-top: 40px;
    }

    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .footer h5{
        font-size: 10px;
    }
    .footer div  img{
        width: 45px;
    }
    .footer1{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .footer1 h5{
        font-size: 10px;
    }
    .footer1 div  img{
        width: 45px;
    }
    .footer2{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .footer2 h5{
        font-size: 10px;
    }
    .footer2 div  img{
        width: 45px;
    }                
}

@media(min-width: 992px){
    .logobar img{
        width: 280px;
    }
    .navbar ul li a{
        font-size: 17px;
    }
    .navbar1 ul li a{
        font-size: 17px;
    }
    .navbar2 ul li a{
        font-size: 17px;
    }
    .imgIndex{
        background-size: 100%;
        height: 600px;
    }
    .imgIndex p{
        padding: 300px 10px;
    }
    .imgEquipo{
        height: 550px;
    }    
    .main1{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main1 div img{
        width: 300px;
    }
    .objetivo{
        font-size: 14px;
    }
    .vision{
        font-size: 14px;
    }
    .terapistas{
        margin: 230px 50px 20px 50px;
    }
    .profesional{
        font-size: 24px;
    }
    .profesional img{
        width: 70px;
    }
    .galeria{
        font-size: 36px;
    }
    .fotosGaleria{
        justify-content:space-evenly;
        margin: 10px;
    }
    .foto{
        width: 200px;
    }
    .aside2{
        justify-content: space-between;
        padding: 25px;
    }
    .mediosContacto div{
        font-size: 20px;
    }
}

@media(min-width: 1200px){
    .container{
        grid-template-rows: 130px 550px auto auto 100px;
    }
    .logobar img{
        width: 390px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    .navbar1 ul li a{
        font-size: 20px;
    }
    .navbar2 ul li a{
        font-size: 20px;
    }
    .imgIndex p{
        padding: 450px 10px 0px;
    }
    .imgGym{
        height: 550px;
    }
    .imgEquipo{
        height: 620px;
    }
    .imgEquipo h2{
        font-size: 50px;
    }
    .cajaInicio1 img{
        width: 200px;
    }
    .cajaInicio1 div h1{
        padding-left: 60px;
    }
    .cajaInicio1 div p{
        padding: 0px 60px 20px;
    }
    .cajaInicio2 img{
        width: 200px;
    }
    .cajaInicio2 div h2{
        padding-left: 60px;
    }
    .cajaInicio2 div p{
        padding: 0px 60px 20px;
    }
    .objetivo{
        padding:15px 50px 15px 50px ;
    }
    .terapistas{
        margin: 110px 20px 20px 20px;
    }
    .profesional{
        font-size: 25px;
    }
    .profesional img{
        width: 65px;
    }
    .main1{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main1 div img{
        width: 350px;
    }
    .mediosContacto div{
        font-size: 25px;
    }
    .form{
        width: 600px;
    }
    .form h2{
        font-size: 36px;
    }
    .form div{
        padding: 10px;
        font-size: 30px;
    }
    .cuadroTexto{
        font-size: 25px;
        padding: 10px;
        margin: 5px;
    }
    
    .btnFundi{
        font-size: 18px;
    }
    
    .footer h5{
        font-size: 13px;
    }
    .footer div  img{
        width: 50px;
    }
    .footer1 h5{
        font-size: 13px;
    }
    .footer1 div  img{
        width: 50px;
    }
    .footer2 h5{
        font-size: 13px;
    }
    .footer2 div  img{
        width: 50px;
    }                
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}